<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<ul>
<% @user.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>
Name: <%= f.text_field :name, placeholder: "Name Here" %> <br/>
Password: <%= f.password_field :password %> <br/>
<%= f.submit %>
<% end %>